:root {
  --primaria: #ccd5aeff;
  --primaria-claro: #e9edc9ff;
  --secundaria: #faedcdff;
  --secundaria-claro: #fefae0ff;
  --button: #d4a373ff;
  --button-focus: rgb(192, 148, 103);
  --preto: #000;
  --branco: #fff;
}

#modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

#modal-background {
  width: 100%;
  height: 100%;
  background: var(--primaria-claro);
  position: absolute;
  z-index: 0;
  opacity: 0.3;
}

#modal-container {
  z-index: 1;
  background: var(--secundaria-claro);
  padding: 1rem 3rem;
  border-radius: 10px;
  max-width: 45%;
}

#movie-title {
  padding: 1rem 0;
}

#modal-body {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
}

#movie-poster {
  border-radius: 5px;
}

#movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  gap: 1rem;
}

#movie-plot {
  text-align: center;
  font-size: 1.6rem;
}

#add-to-list {
  cursor: pointer;
  border: 3px solid var(--primaria);
  padding: 1rem 0;
  width: 100%;
  border-radius: 15px;
  font-weight: 700;
  background: transparent;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  &:focus,
  &:hover {
    background-color: var(--primaria-claro);
    color: var(--preto);
    transform: translateY(1px);
  }
}
