:root {
  --primaria: #ccd5aeff;
  --primaria-claro: #e9edc9ff;
  --secundaria: #faedcdff;
  --secundaria-claro: #fefae0ff;
  --button: #d4a373ff;
  --button-focus: rgb(192, 148, 103);
  --preto: #000;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--secundaria);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.5rem;
  background-color: var(--primaria);
  color: var(--preto);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  h1 > i {
    margin-right: 0.5rem;
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-name,
.search-year {
  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primaria-claro);
    color: var(--preto);
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
}

.search-btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-color: var(--button);
  color: var(--branco);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--button-focus);
    color: var(--preto);
  }
}
