:root {
  --primaria: #ccd5aeff;
  --primaria-escuro: rgb(186, 196, 156);
  --primaria-claro: #e9edc9ff;
  --secundaria: #faedcdff;
  --secundaria-claro: #fefae0ff;
  --button: #d4a373ff;
  --button-focus: rgb(192, 148, 103);
  --preto: #000;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--secundaria);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.5rem;
  background-color: var(--primaria);
  color: var(--preto);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.logo {
  h1 > i {
    margin-right: 0.5rem;
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-name,
.search-year {
  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primaria-claro);
    color: var(--preto);
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    outline: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

#search-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--button);
  color: var(--branco);
  transition: background-color 0.3s ease;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--button-focus);
    color: var(--preto);
  }
}

main {
  text-align: center;
  padding: 3rem;
  flex-grow: 1;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

  article {
    display: flex;
    flex-direction: column;

    img {
      width: 300px;
      height: 450px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
    }
  }
}

#remove-btn {
  cursor: pointer;
  border: 3px solid var(--primaria-escuro);
  padding: 1rem 0;
  width: 100%;
  border-radius: 15px;
  font-weight: 700;
  background: var(--primaria);
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

  &:focus,
  &:hover {
    background-color: var(--primaria-escuro);
    color: var(--preto);
    transform: translateY(1px);
  }
}

/* responsividade */
@media (max-width: 830px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  header {
    gap: 1rem;
  }
  .search-container {
    flex-direction: column;
    justify-content: center;
  }
}
